<h1>Article umber <%= @article.id %></h1>

<p>
<strong>Title:</strong>
<%= @article.title %>
</p>


<p>
<strong>Description:</strong>
<%= @article.description %>
</p>


<br/>
<br/>

<%= link_to "Back", articles_path %>
